.help-block {
    font-size: 12px;
}

body{
/*	background-image:url('images/bkgrnd.jpg');
*/
background-color: #fafafa;
}

.userName,.passWord{
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    background-color: #fff !important;
}

.login{
    width: 100% !important;
    border-radius: 20px !important;
    padding: 10px 20px !important;
    font-size: 20px !important;
    background-color: #00a65a !important;
    border-color: #008d4c !important; 
} 

.content {
    color: inherit;
    margin-bottom: 30px;
	padding-bottom: 48px;
    padding-top: 48px;
	background-color:none;
}

.mainArea{
    border: 1px #ddd solid;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 2px 3px 2px #ddd;
    padding: 20px;
    clear: both;	
    width: 360px;
    margin-left: 30%;
}

.btn{
	-moz-user-select: none;
    background-color: #2980b9;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
	color:white;
}

.btn:hover{
	-moz-user-select: none;
    background-color: #2980b9;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
	color:white;
}

.correct{
	color:green;
}

.incorrect{
	color:red;
}

.question{
	color: #2980b9;
    font-size: 24px;
    font-family: helvetica;
}

.score{
	color:black;
	padding:15px;
	border-radius:10px;
	margin-bottom:20px
    text-align: center;
}

.coursesTbl tr td{
	padding:10px;
}

.coursesTbl thead  tr th{
	padding:10px;
}
.scoreLine{
    font-weight: bolder;
}
.result{
     font-weight: lighter;
}
.scoreFinal {
    font-weight: bold;
}
